.navbar{
	background-color: transparent;
	color:white;
}
.form-inline{
	padding-left: 300px;
}
.contact{
	padding-left: 50px;
}
.navbar-brand{
	background:transparent;
	text-align:center;
width: 100%;
}
